body {
  max-width: 1000px;
  margin: 0 auto;
  font-family: fantasy;
  font-size: 20px;
}

form {
  width: 640px;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid black;
  box-sizing: border-box;
}

img {
  display: block;
  margin: 0 auto;
}

label{
  display: block;
  margin: 0 auto;
  padding: 20px;

}

input{
  display: block;
  padding: 2px;
}

.required{
  color: red;
}
